
{% load static %}
<!-- importante para cargar archivos estaticos -->
<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href=" {% static 'css/materialize.min.css' %}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<nav>
    <div class="nav-wrapper container ">
        <a id="logo-container" href="../../../devices/" class="brand-logo" rev="">SNMP App</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <!-- opciones navegador -->
        <ul class="right hide-on-med-and-down">
            <li><a href="../../../devices/">Monitorear Agentes</a></li>
            <li><a href="../../addDevice/">Agregar Agentes</a></li>
        </ul>

        <!-- opciones mobiles -->
        <ul id="nav-mobile" class="side-nav">
            <li><a href="../../../devices/">Monitorear Agentes</a></li>
            <li><a href="../../addDevice/">Agregar Agentes</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <!--   Parametros   -->
    <div class="row">
        <br>
        <div class="col  m12 center-block " style="  height:auto; ">
            <div class="col m7 s12">
                <h4 class="blue-grey-text">Numero de Dispositivos</h4>
            </div>
            <div class="col m5  s12  ">
                <h4> {{ devices.count }}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Devices es un queryset que viene  de la consulta que se ejecuta en views -->
        {% for device in devices %}
        <div class="col s12 m6">
            <div class="card  blue-grey lighten-5">
                <div class="card-content ">
                    <span class="card-title">{{ device.name }}  <a class="btn btn-floating  right pulse"></a></span>
                    <!-- solo cambia esta linea por la otra oara indicar que esta desconectado
                        la diferencia es la clase red lighten-1 en desconectado   y en el caso de conexion solo se agrega pulse
                    <span class="card-title">Nombre Agente <a class="btn btn-floating  right red lighten-1"></a></span>
                     -->
                    <br>
                    <ul class="collection">
                        <li class="collection-item">S.O :  {{ device.SO }} </li>
                        <li class="collection-item">Version SNMP : {{ device.SNMP_version }} </li>
                        <li class="collection-item">Locaci&oacute;n del sistema : {{ device.system_location }} </li>
                        <li class="collection-item">Interfaces : {{ device.interfaces }} </li>
                    </ul>
                </div>
                <div class="card-action">

                    <a  href="#modal1" class=" waves-effect waves-light btn modal-trigger  red lighten-1">Eliminar</a>
                    <a href="/devices/{{device.id}}" class="waves-effect waves-light btn">Monitorear</a>
                </div>
                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Advertencia</h4>
                        <p>Si seleccionas eliminar el dispositivo sera removido </p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" id="eliminar1" class="modal-action modal-close waves-effect waves-light  red lighten-1 white-text btn">Eliminar</a>
                        <a href="#!" id="cancelar1" class="modal-action modal-close waves-effect waves-light    white-text btn">Cancelar</a>

                    </div>
                </div>
                <!-- Modal Structure ENDs-->
            </div>
        </div>
        {% endfor %}


        <!--TODO de ejemplo elimnalos cuando no los necesites -->

        <!-- TODO Fin del EJEMPLO -->



    </div>
</div>

<footer class="page-footer" style="">
    <div class="container"><br><br></div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="  {% static 'js/materialize.js' %} "></script>
<script>
    $(document).ready(function(){
        $(".button-collapse").sideNav();
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '4%', // Starting top style attribute
                endingTop: '10%', // Ending top style attribute
                ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
                    //alert("Ready"); //action toDO
                    console.log(modal, trigger);
                },
                complete: function() {/*behavior to perfomance once modal has been actioned*/
                   // alert('Closed');
                                     } // Callback for Modal close
            }
        );
    });

</script>

</body>
</html>