
{% load static %}
<!-- importante para cargar archivos estaticos -->
<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href=" {% static 'css/materialize.min.css' %}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<body>

<nav>
    <div class="nav-wrapper container ">
        <a id="logo-container" href="../../../devices/" class="brand-logo" rev="">SNMP App</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <!-- opciones navegador -->
        <ul class="right hide-on-med-and-down">
            <li><a href="../../../devices/">Monitorear Agentes</a></li>
            <li><a href="../../addDevice/">Agregar Agentes</a></li>
        </ul>

        <!-- opciones mobiles -->
        <ul id="nav-mobile" class="side-nav">
            <li><a href="../../../devices/">Monitorear Agentes</a></li>
            <li><a href="../../addDevice/">Agregar Agentes</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <!--   Parametros   -->
    <div class="row">
        <br>
        <br>
        <div class="col  m12 center-block " style="  height:auto; ">
            <div class="col m7 s12">
                <h2>{{ device.name }}</h2>
            </div>
            <div class="col m5  s12 right center-align" style="position:relative;top: 3em;">
                <div class="col m6" style=""><button id="start" class="waves-effect waves-light btn "><i class="material-icons left">cloud</i>Iniciar</>
                </div>
                <div class="col m6" style=""><button id="stop" class="waves-effect waves-light btn "><i class="material-icons left">cloud</i>Parar</button>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <!-- aqui va el plot   -->
                    <span class="card-title">Parametro 1</span>
                        <div id="param1" style="width: 100%" ></div>
                </div>
                <div class="card-action">
                    <a href="#">Total ICMP Messages</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <!-- aqui va el plot   -->
                    <span class="card-title">Parametro 2</span>
                    <div id="param2"  style="width: 100%"></div>
                </div>
                <div class="card-action">
                    <a href="#">Total IP datagrams</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <!-- aqui va el plot   -->
                    <span class="card-title">Parametro 3</span>
                    <div id="param3" style="width: 100%" ></div>
                </div>
                <div class="card-action">
                    <a href="#">Total TCP segments</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <span class="card-title">Parametro 4</span>
                    <div id="param4" style="width: 100%" ></div>

                </div>
                <div class="card-action">
                    <a href="#">Total UDP error datagrams</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <span class="card-title">Parametro 5</span>
                    <div id="param5" style="width: 100%" ></div>
                </div>
                <div class="card-action">
                    <a href="#">Total SNMP responses</a>
                </div>
            </div>
        </div>
    </div>





<br><br>
</div>

<footer class="page-footer ">
    <br>
    <br>
</footer>


<!--  Scripts-->
<script src=" {% static 'js/materialize.js' %}"></script>
<script>
    $(".button-collapse").sideNav();
</script>
<script>
    var roomName = {{ device.id }};
    var start=true;
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/graph/' + roomName + '/');
     var request_data_interval;
    chatSocket.onopen = function()
    {
        // Web Socket is connected, send data using send()
        chatSocket.send({{ device.id }});
        request_data_interval = window.setInterval(requestData, 80);
    };

    chatSocket.onmessage = function (evt)
    {
        if(start) {
            var received_msg = evt.data;
            data = JSON.parse(evt.data);
            var my_plot = {
                x: data.x,
                y: data.y,
                type: 'scatter',
                name: 'Input'
            };
            var my_plot1= {
                x: data.x,
                y: data.y1,
                type: 'scatter',
                name: 'Output'
            };
            var my_plot2 = {
                x: data.x,
                y: data.y2,
                type: 'scatter',
                name: 'Input'
            };
            var my_plot3 = {
                x: data.x,
                y: data.y3,
                type: 'scatter',
                name: 'Output'
            };
            var my_plot4 = {
                x: data.x,
                y: data.y4,
                type: 'scatter',
                name: 'Input'
            };
            var my_plot5 = {
                x: data.x,
                y: data.y5,
                type: 'scatter',
                name: 'Output'
            };
            var my_plot6 = {
                x: data.x,
                y: data.y6,
                type: 'scatter',
                name: 'Input'
            };
            var my_plot7 = {
                x: data.x,
                y: data.y7,
                type: 'scatter',
                name: 'Input'
            };
            var my_plot8 = {
                x: data.x,
                y: data.y8,
                type: 'scatter',
                name: 'Output'
            };



            var data_param1=[my_plot,my_plot1];
            var data_param2=[my_plot2,my_plot3];
            var data_param3=[my_plot4,my_plot5];
            var data_param5=[my_plot7,my_plot8];
            Plotly.newPlot('param1',data_param1);
            Plotly.newPlot('param2',data_param2);
            Plotly.newPlot('param3',data_param3);
            Plotly.newPlot('param4', [my_plot6]);
            Plotly.newPlot('param5',data_param5);

        }
    };

    chatSocket.onclose = function()
    {
      // websocket is closed.
      window.clearInterval(request_data_interval)
    };

    document.getElementById('start').addEventListener('click',function (ev) {
        start=true;
    });
     document.getElementById('stop').addEventListener('click',function (ev) {
        start=false;
     });
    function requestData()
    {
        chatSocket.send({{ device.id }});
    }
</script>
</body>
</html>